body {
	margin: 0;
	background-color: #4CAF50
}

div.main {
	width: 90%;
	margin: 20px 5%;
	padding: 10px;
	display: block;
	background-color: #BBB;
}

div.center {
    width: 330px;
    margin: 0 auto;
    display: block;
}

h1 { margin-top: 0px; }
h2 { margin: 1em 0.5em; font-size: 1.17em; }
h3 { margin: 0.5em; font-size: 1em; }
p { margin: 0.5em; }

p.copyright {
	font-size:10px;
	text-align:right;
	color:white;
}

p.caption {
    font-size:10px;
    margin:0;
    text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

iframe {
    border: 0;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

tr.table_header {
    font-weight: bold;
}

table {
    display: block;
	border-width: 2px;
	border-spacing: 2px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}
table td {
	border-width: 2px;
	padding: 5px;
	border-style: solid;
	border-color: black;
	-moz-border-radius: ;
}

.navbar-wrapper {
    background-color: #BBB;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.navbar-wrapper.open {
    height: 14em;
}

.navbar-menu-3 {
    text-align: right;
}

.navbar-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.navbar-toggle .bar {
    background-color: #4CAF50;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.navbar-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .navbar-menu-3 {
        text-align: left;
    }

    .navbar-toggle {
        display: block;
    }

}