body {
	margin: 0;
	background-color: #4CAF50
}

div {
	width: 90%;
	margin: 20px 5%;
	padding: 10px;
	display: block;
	background-color: #BBB;
}

h1 { margin-top: 0px; }
h3 { margin: 1em 0.5em; }
h5 { margin: 0.5em; }
p { margin: 0.5em; }

p.copyright {
	font-size:10px;
	text-align:right;
	color:white;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.navbar li {float: left;}

ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navbar li a:hover:not(.active) {background-color: #111;}

ul.navbar li a.active {background-color: #4CAF50;}

ul.navbar li.right {float: right;}
